@model BugTracker.ViewModels.MultiListTicketVM
@{
    ViewBag.Title = "Index";
}

<style>

    .row {
        margin-left: 40px;
        margin-right: 40px;
    }
</style>
<div class="row">
    <div class="col">
        <h2>All Tickets</h2>
    </div>
</div>
@Html.Partial("_TicketTable", Model.AllTickets)

<hr />
<div class="row">
    <div class="col">
        <h2>My Tickets</h2>
    </div>
</div>
@Html.Partial("_TicketTable", Model.MyTickets) 